.warna{
    color:tomato;
    font-weight: bold;
    font-size: 80px;
}


.kotak1{
    background-color: #2d2d2d;
    color: white;
    border: 5px tomato solid;
    
    
}
.kotak2{
    background-color: #2d2d2d;
    color: white;
    border: 5px aqua solid;
   
}